<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/tut2_default.css" type="text/css">
    <title>tut2 login page</title>
  </head>
  <body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h1>Flashed messages</h1>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}    
    <h1>Login Form</h1>
    <form method="post">
      User: <input class="edit" name="username" value="klaus" />
      Password: <input class="password" name="password" />
      <input type="submit" />
    </form>
  </body>
</html>
