<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/tut2_default.css" type="text/css">
    <script src="static/jquery.js"></script>
    <script src="static/tut2model.js"></script>
    <script src="static/tut2view.js"></script>
    <script src="static/tut2app.js"></script>
    <title>Martin Grill - tut2</title>
  </head>
  <body>
    <div class="tut_settings_menu">
        <a id="updategui">UPDATE GUI</a>
        <a href="##">logout!</a> &ndash; <a href="##">settings...</a>
    </div>
<!--
    <section>
      <ul>
	<li>2014-12-23
	  <ul>
	    <li>Starttime
	      <ul>
		<li class="tut_starttime">08:52</li>
		<li class="tut_starttime_edit"><input class="edit" value="starttime"></input></li>
	      </ul>
	    </li>
	  </ul>
	</li>
      </ul>
    </section>
-->
    <div id="tut-entry-template" class="tut_entry">
      <div class="tut_container tut_starttime_container">
	<div class="tut_starttime tut_viewbox tut_live">07:49</div>
	<input class="edit tut_editbox tut_starttime_edit" value="enter start time"></input>
      </div>
      <div class="tut_container tut_proj_container">
	<div class="tut_project xtut_notyetvalid tut_viewbox">!! template !!</div>
	<input class="edit tut_editbox tut_proj_edit" value="enter project"></input>
      </div>
      <div class="tut_container tut_logentry_container">
	<div class="tut_logentry tut_viewbox xtut_notyetvalid">!! value unchanged from template !!</div>
	<input class="edit tut_editbox tut_logentry_edit" value="enter log entry"></input>
      </div>
      <div class="tut_right">
	  <div class="tut_remove"><a href="#"><img src="static/pic/Remove-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
	  <div class="tut_container tut_duration_container">
            <div class="tut_duration tut_viewbox">3:33:01</div>
	    <input class="edit tut_editbox" value="duration"></input>
	  </div>
      </div>
    </div>

    <div id="tut-section-header-template">
      <div class="tut_section_label">!!template label!!</div>
    </div>

<!--
    <div class="tut_entry">
      <div class="tut_starttime tut_notyetvalid">17:22</div>
      <div class="editingx" id="tut_proj_label">
	<div class="tut_project tut_notyetvalid" id="tut_proj_labelview" >enter project</div>
	<input class="edit" id="tut_proj_editview" value="enter project"></input>
      </div>
      <div class="tut_logentry tut_notyetvalid">enter log entry here to create new entry</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration tut_notyetvalid">duration</div>
      </div>
    </div>
-->

    <section id="tut-entries-container">
    <p>2014-12-28 (Wednesday &ndash; today)</p>
    <div class="tut_entry">
      <div class="tut_starttime tut_notyetvalid">17:22</div>
      <div class="tut_project tut_notyetvalid">enter project</div>
      <div class="tut_logentry tut_notyetvalid">enter log entry here to create new entry</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration tut_notyetvalid">duration</div>
      </div>
    </div>
    {% for entry in entries %}
    {% if entry.section %}
<p>{{ entry.section }}</p>
    {% endif %}
    <div class="tut_entry">
      <div class="tut_starttime">{{ entry.starttime }}</div>
      <div class="tut_project tut_proj_101">ERE.ERE-2.300</div>
      <div class="tut_logentry">Abstimmung Fremdkomponenten</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">0:17:22</div>
      </div>
    </div>
    {% endfor %}
    <div class="tut_entry">
      <div class="tut_starttime">07:49</div>
      <div class="tut_project">ORG.OG3.300</div>
      <div class="tut_logentry">alternative for part C304 cont'd</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">3:33:01</div>
      </div>
    </div>
<p>2014-12-27 (Tuesday)</p>
    <div class="tut_entry">
      <div class="tut_starttime">17:25</div>
      <div class="tut_project tut_proj_103">0</div>
      <div class="tut_logentry">off</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration tut_hidden">14:11:08</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">12:45</div>
      <div class="tut_project">ORG.OG3.300</div>
      <div class="tut_logentry">alternative for part C304</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">4:17:22</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">12:03</div>
      <div class="tut_project tut_proj_100">Lunch</div>
      <div class="tut_logentry">lunch break</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">0:43:02</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">11:07</div>
      <div class="tut_project tut_proj_101">ERE.ERE-1.700</div>
      <div class="tut_logentry">#3397</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">0:49:50</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">08:32</div>
      <div class="tut_project tut_proj_101">ERE.ERE-2.300</div>
      <div class="tut_logentry">Design Power Manager</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">2:55:22</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">07:45</div>
      <div class="tut_project tut_proj_102">Admin.100</div>
      <div class="tut_logentry">Weekly briefing</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">0:45:22</div>
      </div>
    </div>
<p>2014-12-26 (Monday)</p>
    <div class="tut_entry">
      <div class="tut_starttime">17:41</div>
      <div class="tut_project tut_proj_103">0</div>
      <div class="tut_logentry">off</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration tut_hidden">14:11:08</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">13:22</div>
      <div class="tut_project tut_proj_101">ERE.ERE-2.700</div>
      <div class="tut_logentry">Quality gate 2</div>
      <div class="tut_right">
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">2:11:00</div>
      </div>
    </div>
    <div class="tut_entry">
      <div class="tut_starttime">08:02</div>
      <div class="tut_project tut_proj_101">ERE.ERE-2.300</div>
      <div class="tut_logentry">Abstimmung Fremdkomponenten</div>
      <div class="tut_right">
	  <div class="tut_remove"><a href="#"><img src="static/pic/Remove-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_duration">5:17:22</div>
      </div>
    </div>
    </section>
<p><a href="#">Load 3 more days...</a> (<a href="#">7</a>, <a href="#">15</a>, <a href="#">31</a>)</p>
  </body>
  <!-- icons: http://www.iconarchive.com/show/audio-video-outline-icons-by-danieledesantis/play-icon.html
       icons: http://icons.iconarchive.com/icons/iconsmind/outline/64/Remove-icon.png (license: link back to iconsmind.com
  -->
</html>
