<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/tut2_default.css" type="text/css">
    <script src="static/jquery.js"></script>
    <script src="static/tut2app.js"></script>
    <title>Martin Grill - tut2</title>
  </head>
  <body>
    <h1>Flashed messages</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}    
    <h1>User Details</h1>
{% if current_user.is_authenticated %}
  Hi {{ current_user.fullname }}!<br />
{% endif %}

    current_user.is_authenticated: "{{ current_user.is_authenticated }}" <br />
    current_user.is_active: "{{ current_user.is_active }}" <br />
    current_user.is_anonymous: "{{ current_user.is_anonymous }}" <br />
    current_user.get_id(): "{{ current_user.get_id() }}" <br />
    current_user.fullname: "{{ current_user.fullname }}" <br />
    current_user._password: "{{ current_user._password }}" <br />
    current_user.schnuff: "{{ current_user.schnuff }}" <br />
    ...
  </body>
</html>
