{% extends "basebaselayout.html" %}

{% block content %}

<h1>
<img src="static/pic/tut2-logo-2-glow.svg" height="80px" style="vertical-align:bottom" />
tut2: Track your Time Mark 2</h1>
<p>
Effortless one-click time tracking
</p>

<p>
tut2 (pronounced "tatoo") is a one-click time tracking tool
designed to make time tracking effortless.
</p>

<ul>
    <li>
        <a href="/login">Log into an existing tut2 account</a>
    </li>
    <li>
        <a href="/signup">Sign up if you don't have an account yet</a>
    </li>
</ul>

<p><small>This is TUT2 version {{ tut2_version }}. <a href="https://github.com/grindylow/tut2">If you are a developer, click here to learn how to set up your own tut2 server.</a></small></p>

{% endblock %}
