{% extends "basebaselayout.html" %}

{% block content %}
<h1>tut2: Track your Time Mark 2</h1>

<p>
Effortless one-click time tracking
</p>

<p>
tut2 (pronounced "tatoo") is a one-click time tracking tool
designed to make time tracking effortless.
</p>

<ul>
    <li>
        <a href="/login">Log into an existing tut2 account</a>
    </li>
    <li>
        <a href="/signup">Sign up if you don't have an account yet</a>
    </li>
    <li>
        <a href="...">If you are a developer, click here to learn how to set up your own tut2 server</a>
    </li>
</ul>
{% endblock %}
