{% extends "basebaselayout.html" %}
{% block content %}
    <h1>Sign Up Form</h1>
    <form method="post">
        <table>
            <tr>
                <th>Email*:</th>
                <th><input type="text" name="email" /></th>
            </tr>
            <tr>
                <th>Password*:</th>
                <th><input type="password" name="password" /></th>
            </tr>
        </table>
        <input type="submit" content="Sign Up">
    </form>
<p>Fields marked with <strong>*</strong> must be filled out.</p>
    <hr/>
<!-- Link to login page -->
    <p>Already have an account? <!--suppress HtmlUnknownTarget -->
        <a href="../login">Log in!</a></p>
{% endblock %}
