{% extends "baselayout.html" %}
{% set active_menu = "track" %}
{% block content %}

    <div id="tut-entry-template" class="tut_entry">
      <div class="tut_container tut_starttime_container">
	<div class="tut_starttime tut_viewbox tut_live">07:49</div>
	<input class="edit tut_editbox tut_starttime_edit" size="5" value="??:??"></input>
      </div>
      <div class="tut_container tut_proj_container">
	<div class="tut_project xtut_notyetvalid tut_viewbox">!! template !!</div>
	<input class="edit tut_editbox tut_proj_edit" value="enter project"></input>
      </div>
      <div class="tut_container tut_logentry_container">
	<div class="tut_logentry tut_viewbox xtut_notyetvalid">!! value unchanged from template !!</div>
	<input class="edit tut_editbox tut_logentry_edit" value="enter log entry"></input>
      </div>
      <div class="tut_right">
	  <div class="tut_remove"><a href="#"><img src="static/pic/Remove-icon.png" width="18" height="18"></img></a></div>
          <div class="tut_resume"><a href="#"><img src="static/pic/play-icon.png" width="18" height="18"></img></a></div>
	  <div class="tut_container tut_duration_container">
            <div class="tut_duration tut_viewbox">3:33:01</div>
	    <input class="edit tut_editbox" value="duration"></input>
	  </div>
      </div>
      <div class="tut_insertabove">
	<a href="###">insert entry above</a>
      </div>
      <div class="tut_insertbelow">
	<a href="###">insert entry below</a>
      </div>
      <div class="tut_adjstarttime"><a href="#"><img src="static/pic/up-down-arrow.png" title="Drag up/down to adjust start time" height="20"></img></a></div>
    </div>

    <div id="tut-section-header-template">
      <div class="tut_section_label">!!template label!!</div>
    </div>

    <section id="tut-entries-container">

    </section>
<p><a href="#">Load 30 more entries...</a> (<a href="#">100</a>, <a href="#">200</a>, <a href="#">500</a>)</p>
{% endblock %}
