{% extends "baselayout.html" %}
{% set active_menu = "settings" %}
{% block content %}
    <h1>User Details and Settings</h1>
{% if current_user.is_authenticated %}
  Hi {{ current_user.get_id() }}!<br />
{% endif %}

    current_user.is_authenticated: "{{ current_user.is_authenticated }}" <br />
    current_user.is_active: "{{ current_user.is_active }}" <br />
    current_user.is_anonymous: "{{ current_user.is_anonymous }}" <br />
    current_user.get_id(): "{{ current_user.get_id() }}" <br />
    current_user._password: "{{ current_user._password }}" <br />
    ...
{% endblock %}
